<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <a href="https://www.linkedin.com/in/viraj-rodge-704b32243/" class="icons"><i class="social-icons fab fa-linkedin fa-2x"></i></a>
    <a href="https://github.com/virajrodge5" class="icons"><i class="social-icons fab fa-github fa-2x"></i></a>
    <a href="https://twitter.com/rodge_viraj" class="icons"><i class="social-icons fab fa-twitter  fa-2x"></i></a>
    <a href="mailto:virajrodge5@gmail.com" class="icons"><i class="social-icons fas fa-envelope  fa-2x"></i></a>
    <a href="https://www.instagram.com/virajrodge/" class="icons"><i class="social-icons fab fa-instagram  fa-2x"></i></a>
<%- include("partials/footer"); -%>
